
body{background-color:#000;color:rgba(240,210,210,1);font-family: 'Rhodium Libre', serif;}
/*Author Page*/
.author img {max-width:15em;margin:1em;display:block}
#image{float:left}
#social{padding:1em;text-align:center;}
.author .fa {margin:.2em;text-decoration: none}
#social a{color:rgba(150,0,0,1)}
#social a:hover{color:rgba(250,0,0,1)}
#social a:visited{color:rgba(240,210,210,1)}
.author {background-color: rgba(0,0,0,1)}
.author p {padding:1em}

/* Index Page */
.container-fluid{background-color: rgba(0,0,0,1)}
button{width: 50px}
h1{font-family: 'Rhodium Libre', serif;color:rgba(255,255,255,1);}
h3{color: rgba(255,20,20,1);}
h4{color: rgba(255,0,0,1);font-weight: 900; font-size: 28px; margin-top: 20px; text-align: center}
.nav .glyphicon{margin-right: 0.5em;color:rgba(240,140,140,1);}
.nav{font-size: 1.3em; }
.nav a:{color:rgba(240,140,140,1)}
#buyNow{max-height: 100px;margin:auto;display: block}
small{font-family: 'Amita', cursive;}
.topArrow {padding:3px;background-color: rgba(230,30,0,1); color:gray; text-decoration: none;}
.topArrow a:visited{color:white}
.topArrow a:link{color:white}
span.tab{margin-left:3em}
.btn{
    background: transparent;
    color: #F2F2F2;
    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    }
.btn {font-weight: 500;letter-spacing: 2px;text-transform:uppercase;}
.btn.outline {background: none;padding: 12px 22px;}
.btn-primary.outline {border: 2px solid #0099cc;color: #0099cc;}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {color: #33a6cc;border-color: #33a6cc;}
.btn-primary.outline:active, .btn-primary.outline.active {border-color: #007299;color: #007299;box-shadow: none;}
.btn:focus, .btn:active:focus, .btn.active:focus {outline: 0 none;}
.btn-primary {background: #0099cc;color: #ffffff;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {background: #33a6cc;}
.btn-primary:active, .btn-primary.active {background: #007299;box-shadow: none;}
